<% content_for :title do%>Currently Not Echoing for <%=h @echo.username %><% end  %>
<div id="new_echo_page">
  <h1>TwitterEcho for <strong><%= h(@echo.username) %></strong> is <span class="off">disabled</span></h1>  
  <%= image_tag "sound-small.jpg" %>
  <% form_for(@echo) do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.submit 'Start Echoing' %>
    </p>
  <% end %>
</div>
<%= render :partial => "another_account" %>
